@model IEnumerable<ExpenseTracker.Models.Income>

@{
    ViewData["Title"] = "Get Incomes";
}

<h1 class="text-center">Get All Incomes</h1>

<p>
    <a asp-action="NewIncome">Add new Income</a>
    <a class="float-end" href="/Income/GetAllIncomes">View all incomes</a>
</p>
<p class="d-flex justify-content-center">
    Sum of shown incomes: @ViewBag.IncomeSum
</p>
<p class="d-flex justify-content-center">
    Balance: @ViewBag.Balance
</p>

<form id="paginationForm" method="get" action="/Income/GetIncomes">
    <select name="pageSize" id="pageSizeDropdown" class="form-control" onchange="this.form.submit()">
        <option value="5" selected="selected">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</form>
    @*<button type="submit" class="btn btn-primary">Submit</button>*@

@if (Model.Count() > 0 ){
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncomeAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayName("Delete")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    <nav class="d-flex justify-content-center">
        <ul class="pagination">
           
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="/Income/GetIncomes?pageNumber=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize">Previous</a>
            </li>

            
            @for (int i = 1; i <= @ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="/Income/GetIncomes?pageNumber=@i&pageSize=@ViewBag.PageSize">@i</a>
                </li>
            }

            
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/Income/GetIncomes?pageNumber=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize">Next</a>
            </li>
        </ul>
    </nav>
   @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"> 
    $(document).ready(function() {
            $('#pageSizeDropdown').change(function() {
                $('#paginationForm').submit();
            });
        });    
   </script>*@
     
}
else{
        <p>No Incomes found.</p>
}


